.attribution {
  font-size: 11px; text-align: center;
}
.attribution a {
   color: hsl(228, 45%, 44%);
 }
 /* reset all css */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

table, tr, th, td{
margin:0;
padding:0;
border:0;
outline:0;

}

body {
line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}

nav ul {
list-style:none;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:”;
content:none;
}

a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

/* change colours to suit your needs */
ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}

/* change colours to suit your needs */
mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold;
}

del {
text-decoration: line-through;
}

abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}

table {
border-collapse:collapse;
border-spacing:0;
}

/* change border colour to suit your needs */
hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}

input, select {
vertical-align:middle;
}
 /* css reset finishes here */
 body {
   background-image: url("images/bg-desktop.svg");
   background-color: hsl(257, 40%, 49%);
   background-repeat: no-repeat;
   overflow-x:  hidden;
 }
 h2 {
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
   font-size: 30px;
   line-height: 2.5rem;
   padding-bottom: 30px;
 }
 p {
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   font-size: 20px;
   line-height: 2.0rem;
   padding-bottom: 15px;
 }
.navbar {
  display: block;
  padding-left: 1%;
  padding-top: 3%;
}
.flex-container {
  display: flex;
  margin:
  width: 100%;
  justify-content: space-between;
  padding-top: 30px;

}
.flex-left {
  width: 40%;
  padding-left: 40px;
}
.flex-right {
  width: 40%;
  padding-top: 50px;
  padding-right: 40px;
  text-align: left;
  color: #f7f7f7;

}
#button {
  width: 250px;
  height: 50px;
  border-radius: 25px;
  border-color: transparent;
  color: hsl(257, 40%, 49%);
  box-shadow: 0px 0px 2px 2px #f7f7f7;
  padding: 5px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
}
li {
  display: inline-block;
  float: right;
}
.icon {
  padding-top: 20px;
  padding-right: 80px;
}
.icons {
  width: 35px;
  height: 35px;
  padding: 5px;

}
footer {
  margin-top:  100px;

}
